body
{
	font-family: Cabin, Arial, Helvetica, Sans-serif;
	color: #404040;
	
	width: 1000px;
	margin: auto;
}

img
{
	position: relative;
	top: 0px;
	left: 0px;
}

h1
{
	color: #404040;
	font-size: 1.4em;
	font-weight: 700;
	border-bottom: 1px solid #CFCDC9;
	padding-bottom: 10 px;
}

#grid
{
	border-top: 1px solid #CFCDC9;
	padding-top: 10 px;
}

#grid td
{
	background-color: #969696;
	margin: 10px;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#userColor td
{
	padding: 0px;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	-moz-border-radius: 2px;
}

#userColor
{
	display: inline-block;
	vertical-align: top;
}

#yourColor
{
	display: inline-block;
	vertical-align: top;
	margin-top: 0px;
}

a
{
	text-decoration: none;
	color: blue;
}

