body
{
	font-family: Cabin, Arial, Helvetica, Sans-serif;
	color: #404040;
	width: 950px;
}

#monitorTable td
{
	background-color: #969696;
	width: 44px;
	height: 44px;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

strong
{
	color: blue;
}

#buglabs
{
	float: right;
}

#app
{
	float: right;
}